<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="boxcenter">
        <div class="row mb headeradmin">
            <h1>Quản Trị Website</h1>
        </div>
        <div class="row mb menu">
            <ul>
                <li><a href="addloaihang.html">Trang chủ</a></li>
                <li><a href="">Danh Mục</a></li>
                <li><a href="hanghoa.html">Hàng Hóa</a></li>
                <li><a href="">Khách Hàng</a></li>
                <li><a href="">Bình Luận</a></li>
                <li><a href="">Thống Kê</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="row formtitle">
                <h1>THÊM MỚI HÀNG HÓA</h1>
            </div>
            <div class="row formcontent">
                <form action="" method="post">
                    <div class="row mb10">
                        Mã Hàng Hóa <br>
                        <input type="text" name="maloai" id="" disabled>
                    </div>
                    <div class="row mb10">
                        Tên Loại <br>
                        <input type="text" name="tenloai" id="">
                    </div>
                    <div class="row mb10">
                        Giá <br>
                        <input type="text" name="tenloai" id="">
                    </div>
                    <div class="row mb10">
                        Hình ảnh <br>
                        <input type="text" name="tenloai" id="">
                    </div>
                    <div class="row mb10">
                        Ngày nhập <br>
                        <input type="date" name="tenloai" id="">
                    </div>
                    <div class="row mb10">
                        Mã Loại <br>
                        <input type="text" name="tenloai" id="">
                    </div>
                    <div class="row mb10">
                        <input type="submit" value="Thêm mới" id="">
                        <input type="reset" value="Reset" id="">
                        <a href="hanghoa.html"><input type="button" value="Danh sách" id=""></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>