<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="boxcenter">
        <div class="row mb headeradmin">
            <h1>Quản Trị Website</h1>
        </div>
        <div class="row mb menu">
            <ul>
                <li><a href="addloaihang.html">Trang chủ</a></li>
                <li><a href="">Danh Mục</a></li>
                <li><a href="hanghoa.html">Hàng Hóa</a></li>
                <li><a href="">Khách Hàng</a></li>
                <li><a href="">Bình Luận</a></li>
                <li><a href="">Thống Kê</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="row formtitle">
                <h1>Bảng Hàng Hóa</h1>
            </div>
            <div class="row formcontent">
                <div class="row mb10 formhanghoa">
                    <table>
                        <!-- tr Cột -->
                        <tr>
                            <!-- th-td Hàng -->
                            <th></th>
                            <th class="ma_hh">Mã Hàng Hóa</th>
                            <th>Tên hàng hóa</th>
                            <th>Giá</th>
                            <th>Hình Ảnh</th>
                            <th>Ngày nhập</th>
                            <th>Mô tả</th>
                            <th>Mã Loại</th>
                            <th></th>
                        </tr>
                        <!-- tr Cột -->
                        <tr>
                            <!-- th-td Hàng -->
                            <td><input type="checkbox" name="" id=""></td>
                            <td class="ma_hh">001</td>
                            <td>Đồng Hồ Apple watch</td>
                            <td>500$</td>
                            <td><img src="/image/1.jpg" alt=""></td>
                            <td>1/2/2024</td>
                            <td>Hàng chất lượng cao</td>
                            <td>001</td>
                            <td><input type="button" name="" value="sửa" id=""> <input type="button" value="xóa" name=""
                                    id=""></td>
                        </tr>
                        <!-- tr Cột -->
                        <tr>
                            <!-- th-td Hàng -->
                            <td><input type="checkbox" name="" id=""></td>
                            <td class="ma_hh">002</td>
                            <td>IPhone 15 Promax</td>
                            <td>1000$</td>
                            <td><img src="/image/1.jpg" alt=""></td>
                            <td>1/2/2024</td>
                            <td>Hàng chất lượng cao</td>
                            <td>002</td>
                            <td><input type="button" name="" value="sửa" id=""> <input type="button" value="xóa" name=""
                                    id=""></td>
                        </tr>
                        <!-- tr Cột -->
                        <tr>
                            <!-- th-td Hàng -->
                            <td><input type="checkbox" name="" id=""></td>
                            <td class="ma_hh">003</td>
                            <td>Loa bluetoot</td>
                            <td>800$</td>
                            <td><img src="/image/1.jpg" alt=""></td>
                            <td>1/2/2024</td>
                            <td>Hàng chất lượng cao</td>
                            <td>003</td>
                            <td><input type="button" name="" value="sửa" id=""> <input type="button" value="xóa" name=""
                                    id=""></td>
                        </tr>
                    </table>
                </div>
                <div class="row mb10">
                    <input type="button" value="Chọn tất cả" id="">
                    <input type="button" value="Bỏ chọn tất cả" id="">
                    <input type="button" value="Xóa mục đã chọn" id="">
                    <a href="addhanghoa.html"><input type="button" value="Thêm mới" id=""></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>