<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="boxcenter">
        <div class="row mb headeradmin">
            <h1>Quản Trị Website</h1>
        </div>
        <div class="row mb menu">
            <ul>
                <li><a href="addloaihang.html">Trang chủ</a></li>
                <li><a href="">Danh Mục</a></li>
                <li><a href="">Hàng Hóa</a></li>
                <li><a href="">Khách Hàng</a></li>
                <li><a href="">Bình Luận</a></li>
                <li><a href="">Thống Kê</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="row formtitle">
                <h1>THÊM MỚI LOẠI HÀNG HÓA</h1>
            </div>
            <div class="row formcontent">
                <div>
                    <table class="row mb10 formdsloai">
                        <!-- Cột -->
                        <tr>
                            <!-- Hàng -->
                            <th></th>
                            <th>Mã Loại</th>
                            <th>Tên Loại</th>
                            <th></th>
                        </tr>
                        <!-- Cột -->
                        <tr>
                            <!-- Hàng -->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- Cột -->
                        <tr>
                            <!-- Hàng -->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- Cột -->
                        <tr>
                            <!-- Hàng -->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="row mb10">
                    <input type="button" value="Chọn tất cả" id="">
                    <input type="button" value="Bỏ chọn tất cả" id="">
                    <input type="button" value="Xóa mục đã chọn" id="">
                    <a href="addloaihang.html"><input type="button" value="Thêm mới" id=""></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>